<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Thai Identity card</title>
</head>

<body>
    <h2>OCR History</h2>
    <form action="/history" method="post">
        <label>Date of Birth:</label>
        <input type="date" name="date_of_birth">
        <label>Identification Number:</label>
        <input type="number" name="identification_number">
        <br>
        <br>
        <button type="submit">Filter</button>
    </form>

    {{[{"timestamp": record.timestamp, "status": record.status, "ocr_result": record.ocr_result} for record in output]}}
</body>
</html>