<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Thai Identity card</title>
</head>

<body>
    <h2>OCR History</h2>
    <form action="/history" method="POST" >
        <label>Date of Birth:</label>
        <input type="text" name="date_of_birth">
        <label>Identification Number:</label>
        <input type="text" name="identification_number">
        <br>
        <br>
        <button type="submit">Filter</button>
    </form>

    <h2> Results </h2>
    {% for record in output%}
    {{record.timestamp}}
    {{record.status}}
    {{record.ocr_result}}
    {%endfor%}
</body>
</html>