<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updating Thai Indentity Card </title>
</head>

<body>
    <h2> Updating the Identity Card</h2>
    <form action="/update" method="POST" enctype='multipart/form-data'>
        <label>Old Identification Number:</label>
        <input type="text" name="old_identification_number">
        <label>Name:</label>
        <input type="text" name="value1">
        <label > Last Name:</label>
        <input type="text" name="value2">
        <label >Identification Number:</label>
        <input type="text" name="value3">
        <label >Date of issue</label>
        <input type="text" name="value4">
        <label >Date of expiry:</label>
        <input type="text" name="value5">
        <label >Date of Birth:</label>
        <input type="text" name="value6">
        <button type="submit">Submit</button>
    </form>

    <h2>New OCR Results</h2>
    {%for result in data%}
        <p>{{result.timestamp}}</p>
        <p>{{result.status}}</p>
        <p>{{result.ocr_result}}</p>
    {%endfor%}
</body>
</html>